<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Hangouts</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>FuturaNewBold.otf</string>
		<string>FuturaNewBoldOblique.otf</string>
		<string>FuturaNewBook.otf</string>
		<string>FuturaNewBookOblique.otf</string>
		<string>FuturaNewDemi.otf</string>
		<string>FuturaNewDemiOblique.otf</string>
		<string>FuturaNewExtraBold.otf</string>
		<string>FuturaNewExtraBoldOblique.otf</string>
		<string>FuturaNewHeavy.otf</string>
		<string>FuturaNewHeavyOblique.otf</string>
		<string>FuturaNewLight.otf</string>
		<string>FuturaNewLightOblique.otf</string>
		<string>FuturaNewMedium.otf</string>
		<string>FuturaNewMediumOblique.otf</string>
		<string>googlesansmedium.ttf</string>
		<string>FuturaPT-Bold.otf</string>
		<string>FuturaPT-Book.otf</string>
		<string>FuturaPT-Demi.otf</string>
		<string>FuturaPT-ExtraBold.otf</string>
		<string>FuturaPT-Heavy.otf</string>
		<string>FuturaPT-Light.otf</string>
		<string>FuturaPT-Medium.otf</string>
	</array>
</dict>
</plist>
